raspberry_pi/build
raspberry_pi/devel
raspberry_pi/src/astro_slam/rtab_db
ros2_ws/build
ros2_ws/install
ros2_ws/log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.xcworkspace/xcuserdata/*.xcuserdatad
build
build_host
build_target
*_build
ros2_ws/utils/
build_*
build*
zephyr_workspace/.west
zephyr_workspace/zephyr
zephyr_workspace/modules
zephyr_workspace/tools
zephyr_workspace/bootloader
zephyr_workspace/zephyr_microros_app
zephyr_workspace/zephyr_sensor_node/build
zephyr_workspace/zephyr_sensor_node/modules/libmicroros/include
zephyr_workspace/zephyr_sensor_node/modules/libmicroros/micro_ros_dev
zephyr_workspace/zephyr_sensor_node/modules/libmicroros/micro_ros_src
# astro_custom_modules
zephyr_workspace/astro_custom_modules/libmicroros/include
zephyr_workspace/astro_custom_modules/libmicroros/micro_ros_dev
zephyr_workspace/astro_custom_modules/libmicroros/micro_ros_src
*.cmake