<launch>
    <!-- http://wiki.ros.org/tf#static_transform_publisher -->
    <!--
        static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms
        Publish a static coordinate transform to tf using an x/y/z offset in meters and yaw/pitch/roll in radians.
        (yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X).
        The period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value.
    -->
    <!--node pkg="rosserial_server" type="socket_node" name="astro_sensors_tcp" /-->
    <node pkg="rosserial_python" type="serial_node.py" name="astro_core_sensors">
        <param name="port" value="/dev/ttySensorNode"/>
        <param name="baud" value="115200"/>
    </node> 
    <node pkg="tf" type="static_transform_publisher" name="base_to_IMU_broadcaster" args="-0.12 -0.07 0.095 0 0 0 base_link imu_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_to_ranger_broadcaster" args="0.06 0 0.055 0 0 0 base_link ir_ranger 100"/>
</launch>