SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", ATTRS{serial}=="E6614103E77F3A36", SYMLINK+="raspberry_pico"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="000a", ATTRS{serial}=="E661AC88636C5422", SYMLINK+="pimoroni_pico_inventor"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0009", ATTRS{serial}=="084F558AD2270173", SYMLINK+="pimoroni_pico_2W"
