name: Zephyr Firmware CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04

    container:
      image: ghcr.io/furhadjidda/zephyr-dev:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Activate venv and initialize workspace
        run: |
          # Activate Python venv inside Docker
          . /opt/zephyr-venv/bin/activate

          # Go to workspace
          cd zephyr_workspace

          # Initialize workspace if not already
          if [ ! -d ".west" ]; then
            west init .
            west update --narrow
          fi

          # Install pip packages for Zephyr modules inside workspace
          west packages pip --install

      - name: Build firmware
        working-directory: zephyr_workspace/zephyr_sensor_node
        run: |
          . /opt/zephyr-venv/bin/activate
          west build -p always \
            -b arduino_nicla_vision/stm32h747xx/m7 \
            --sysbuild . \
            -- \
            -DDTC_OVERLAY_FILE=boards/nicla-vision.overlay \
            -DEXTRA_CONF_FILE=boards/nicla.conf
