/ {
    aliases {
        my-led = &led0;
        gnss = &gnssnode;
    };
};

&i2c0 {
    status = "okay";

    bno055: bno055@28 {
        compatible = "bosch,bno055";
        reg = <0x28>;
        use_xtal;
        zephyr,deferred-init;
    };
    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <64>;

        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
        label = "SSD1306";
        ready-time-ms = <500>;
    };
    gnssnode: gnss@10 {
        compatible = "mtk,mtk3333";
        reg = <0x10>;
        label = "GNSS_0";
        status = "okay";
    };
};
